
#board {
  background: url(../images/quiz_xEHRxwV.jpg)center center no-repeat;
  height: 600px;
  width: 900px;
  margin: 0 auto;
  background-size: cover;
  position: relative;
}

#remove{
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  width: 500px;
}